<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seungjae portfolio</title>

    <!--브라우저 스타일 초기화-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <!--Google Fonts - 나눔고딕-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />

    <!--Google Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/index.css" />

    <script defer src="/js/index.js"></script>

</head>
<body>
<header>
    <div class="inner">
        <h1>PORTFOLIO</h1>
    </div>
</header>
<section class="contents">
    <div class="inner">
        <div class="subject-list">
            <div class="subject-content">
                <ul>
                    <li class="subject-group">프론트 개발</li>
                    <li><a href="/front/starbucks" target="_blank">스타벅스 사이트</a></li>
                    <li><a href="/front/overwatch" target="_blank">오버워치 선택</a></li>
                    <li class="subject-group">백엔드 개발</li>
                    <li>계속 진행중 ......</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="inner">
        <div class="info">
            <ul>
                <li><span>EMAIL : kimseungjae@gmail.com</span></li>
                <li><span>GITHUB : https://github.com/SeungjaeKim</span></li>
            </ul>
        </div>
        <p class="copyright">
            &copy; <span class="this-year"></span> Kimseungjae. All Rights Reserved.
        </p>
    </div>
</footer>
</body>
</html>